<?xml version="1.0" encoding="utf-8"?>
<!--**************************************************************/
/*                                                               */ 
/* AndroidManifest.xml                                           */ 
/* (c)2013 jmarcosf                                              */ 
/*                                                               */ 
/* Description: Application Android Manifest                     */ 
/*              JmfWeather Project                               */ 
/*              Práctica asignatura Android Fundamental          */ 
/*              U-Tad - Master Apps                              */ 
/*              www.u-tad.com                                    */ 
/*                                                               */ 
/*        Date: December 2013                                    */ 
/*                                                               */ 
/***************************************************************-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utad.marcos.jorge.jmfweather"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

	<!--**********************************************************/
    /*                                                           */ 
    /* Application Permissions                                   */ 
	/*                                                           */ 
    /***********************************************************-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
	<!--**********************************************************/
    /*                                                           */ 
    /* Application definition                                    */ 
	/*                                                           */ 
    /***********************************************************-->
    <application
        android:name="com.utad.marcos.jorge.jmfweather.CApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/IDS_APP_NAME"
        android:theme="@style/IDR_APP_THEME" >
        
		<!--******************************************************/
	    /*                                                       */ 
	    /*                                                       */ 
	    /* Services                                              */ 
	    /*                                                       */ 
		/*                                                       */ 
	    /*********************************************************/
	    /*                                                       */ 
	    /* Weather Retriever Service                             */ 
		/*                                                       */ 
	    /*******************************************************-->
	    <service android:name="com.utad.marcos.jorge.jmfweather.services.CWeatherRetrieverService" />

		<!--******************************************************/
	    /*                                                       */ 
	    /*                                                       */ 
	    /* Activities                                            */ 
	    /*                                                       */ 
		/*                                                       */ 
	    /*********************************************************/
	    /*                                                       */ 
	    /* City List Activity                                    */ 
		/*                                                       */ 
	    /*******************************************************-->
	    <activity
            android:name="com.utad.marcos.jorge.jmfweather.CCityListActivity"
            android:label="@string/IDS_APP_NAME" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
   		<!--******************************************************/
	    /*                                                       */ 
	    /* City Details Activity                                 */ 
		/*                                                       */ 
	    /*******************************************************-->
        <activity
            android:name="com.utad.marcos.jorge.jmfweather.CCityDetailsActivity"
            android:parentActivityName="com.utad.marcos.jorge.jmfweather.CCityListActivity" >
        </activity>
        
   		<!--******************************************************/
	    /*                                                       */ 
	    /* Settings Activity                                     */ 
		/*                                                       */ 
	    /*******************************************************-->
        <activity
            android:name="com.utad.marcos.jorge.jmfweather.CSettingsActivity" >
        </activity>
        
        </application>

</manifest>
