<?xml version="1.0" encoding="utf-8"?>
<!--**************************************************************/
/*                                                               */ 
/* AndroidManifest.xml                                           */ 
/* (c)2013 jmarcosf                                              */ 
/*                                                               */ 
/* Description: Application Android Manifest                     */ 
/*              JmfWeather Project                               */ 
/*                                                               */ 
/***************************************************************-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utad.marcos.jorge.jmfweather"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

	<!--**********************************************************/
    /*                                                           */ 
    /* Application Permissions                                   */ 
	/*                                                           */ 
    /***********************************************************-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
	<!--**********************************************************/
    /*                                                           */ 
    /* Application definition                                    */ 
	/*                                                           */ 
    /***********************************************************-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_main_icon"
        android:label="@string/IDS_APP_NAME"
        android:theme="@style/IDR_APP_THEME" >
        
		<!--******************************************************/
	    /*                                                       */ 
	    /*                                                       */ 
	    /* Services                                              */ 
	    /*                                                       */ 
		/*                                                       */ 
	    /*********************************************************/
	    /*                                                       */ 
	    /* Weather Retriever Service                             */ 
		/*                                                       */ 
	    /*******************************************************-->
	    <service android:name="com.utad.marcos.jorge.jmfweather.services.CWeatherRetrieverService" />

		<!--******************************************************/
	    /*                                                       */ 
	    /*                                                       */ 
	    /* Activities                                            */ 
	    /*                                                       */ 
		/*                                                       */ 
	    /*********************************************************/
	    /*                                                       */ 
	    /* Main Activity                                         */ 
		/*                                                       */ 
	    /*******************************************************-->
	    <activity
            android:name="com.utad.marcos.jorge.jmfweather.CMainActivity"
            android:label="@string/IDS_APP_NAME" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
    </application>

</manifest>
